calendra.si {
    reverse_proxy website:3000
}

www.calendra.si {
    redir https://calendra.si{uri}
}

staging.calendra.si {
    handle /api/* {
        reverse_proxy app-backend:4000
    }

    handle {
        reverse_proxy app-frontend:3000
    }
}

app.calendra.si {
    handle /api/* {
        reverse_proxy app-backend:4000
    }

    handle {
        reverse_proxy app-frontend:3000
    }
}